@define-color orange #ffb86c;
@define-color gray #44475a;
@define-color black #21222c;
@define-color red #ff5555;
@define-color green #50fa7b;
@define-color yellow #f1fa8c;
@define-color cyan #8be9fd;
@define-color blue #6272a4;
@define-color purple #bd93f9;
@define-color pink #ff79c6;
@define-color white #ffffff;
@define-color brred #ff6e6e;
@define-color brgreen #69ff94;
@define-color bryellow #ffffa5;
@define-color brcyan #a4ffff;
@define-color brblue #6272a4;
@define-color brpurple #d6acff;
@define-color brpink #ff92df;

@define-color arch_blue #89b4fa;

@define-color primary #751529;
@define-color background #2c2c2c;
@define-color foreground #ffffff;

@define-color workspace_background @background;
@define-color workspace_button @foreground;
@define-color workspace_active @black;
@define-color workspace_active_background @green;
@define-color workspace_urgent @white;
@define-color workspace_urgent_background @brred;
@define-color workspace_hover @black;
@define-color workspace_hover_background @pink;
@define-color critical @red;
@define-color warning @yellow;

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 100%;
}

window#waybar {
  background: @background;
  border-radius: 10px;
}

#taskbar {
  margin: 0px 0px 0px 0px;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#cava {
  padding: 0 5px;
  color: @primary;
}

#workspaces {
  transition: none;
}

#workspaces button,
#workspaces button.persistent {
  color: @workspace_button;
}

#workspaces button.active {
  background: @primary;
  color: @workspace_active;
}

#workspaces button.urgent {
  background: @workspace_urgent_background;
  color: @workspace_urgent;
}

#workspaces button:hover {
  background: @workspace_hover_background;
  color: @workspace_hover;
}

#pulseaudio {
  font-weight: normal;
  font-size: 24px;
  color: @foreground;
  opacity: 1;
  margin: 0px 10px 0px 0px;
}

#pulseaudio-slider slider {
  background: @primary;
}

#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  background: @background;
}

#pulseaudio-slider highlight {
  background-color: @primary;
}